body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  #add_weapon #id_name{
    background-color: lightgrey;
    color: black;
    font-size:x-large;
  }

  #add_weapon #id_power{
    background-color: lightgrey;
    color: black;
    font-size:x-large;
  }

  #add_weapon label{
    color: black;
    font-style: italic;
    font-weight: bolder;
  }